/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'PT Sans', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

img {
  max-width: 100%;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    outline: 0;
}

/* HEADER AND NAV START */

header {
  width: 100%;
  background: transparent;
  position: relative;
  max-height: 60px;
}

header.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  transform: translateY(-200%);
  transition: 0.2s;
  z-index: 5;
}

body.scroll header.sticky {
  transform: translateY(0);
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 7px 0;
  position: relative;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: none;
  /* margin-top: 30px; */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: 1s;
}

nav ul li:hover {
  transform: scale(1.1);
}

ul.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

span.left li a {
  font-size: 2em;
}

/* PARALLAX EFFECTS START */

.cover-main {
  background: url('../images/beautiful-background.jpeg') right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  color: white;
}

ul#scene li.name {
  font-size: 60px;
  line-height: 65px;
  margin-top: 200px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Play', sans-serif;
}

ul#scene li.title {
  font-size: 45px;
  line-height: 50px;
  margin-top: 130px;
  text-align: center;
  width: 100%;
  font-family: 'Play', sans-serif;
}

.arrow {
  margin: auto;
  font-size: 70px;
  width: 100%;
  display: block;
}

/* MASONRY STYLE START */

.masonry-grid {
  position: relative;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 450px;
  margin-bottom: 10px;
}

.tall-img {
  height: 680px;
}

/* NEW GRID STYLE START */

h1.portfolio-header {
  position: relative;
  display: block;
  margin: 50px auto 90px auto;
  text-align: center;
  font-size: 50px;
  line-height: 55px;
  font-weight: bold;
}

h1.portfolio-header::after {
  display: block;
  height: 2px;
  background: black;
  margin: 30px auto 0 auto;
  width: 100px;
  content: "";
}

.portfolio {
  text-align: center;
  padding: 5em 0;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  max-width: 60em;
  margin: auto;
}

.portfolio-desc {
  display: none;
}

.portfolio-item.featured  .portfolio-desc {
  display: block;
}

.portfolio-item {
  width: 50%;
  margin-bottom: 10px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
}

.portfolio-item.featured {
  width: 100%;
  order: -1;
}

.portfolio-item img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  max-width: 100%;
}

.portfolio-item figcaption {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2em;
  transition: top ease-in-out 250ms;
}

.portfolio-item:hover figcaption,
.portfolio-item:focus figcaption {
  top: 0;
}

.portfolio-title {
  font-size: 1.5em;
  margin-bottom: auto;
}

.portfolio-item.featured .portfolio-title {
  font-size: 4em;
}

.portfolio-link {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid white;
  align-self: flex-start;
}

/* PORTFOLIO MODAL START */

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: white;
  box-shadow: 0 0 15em rgba(0,0,0, 0.85);
  overflow-y: scroll;
  overflow-x: hidden;

  display: none;
}

.portfolio-modal.is-open {
  display: block;
}

.modal-close {
  background: white;
  position: absolute;
  left: 2em;
  top: 2em;
  border: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 4px 0 0;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.5);
}

.portfolio-modal-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
}

.portfolio-modal .header-one {
  background-image: url(../images/one.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-modal .header-two {
  background-image: url(../images/two.jpg);
  background-size: cover;
  background-position: center;
}

.portfolio-title-box {
  background: rgba(0, 0, 0, 0.55);
  padding: 3em 0 3em 3em;
  color: white;
  width: 70%;
}

.portfolio-title-box .portfolio-title {
  font-size: 3.5rem;
}

.portfolio-subtitle {
  margin-top: 1em;
  font-size: 1.5rem;
}

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.portfolio-modal-link {
  color: black;
  font-size: 1.5rem;
}

@keyframes modalIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes modalOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* CONTACT FORM */

.contact {
  padding: 5em 0;
}

.contact h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

form {
  /* margin-left: 20%;
  margin-right: 20%; */
  margin: 3% 20%;
}

label {
  display: block;
  margin-top: 1em;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 0.75em;
  font-size: 1.2em;
  background: #F5F7F8;
  margin-top: 0.5em;
  border: 0;
}

.submit {
  width: 30%;
  margin: 5% auto 0;
  background: #484848;
  color: white;
  font-size: 1.5em;
  padding: 0.3em;
}

.submit:hover {
  background: #2D2D2D;
  cursor: pointer;
}

footer {
  position: relative;
  z-index: -2;
  height: 150px;
  background: black;
  color: white;
  text-align: center;
}

footer h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  z-index: 1;
}
